<!DOCTYPE html>
<html lang="en" ng-app="styleguide" ng-controller="StyleGuideCtrl" ng-cloak>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    <title translate>Style Guide</title>

    <link rel="stylesheet" href="app.css">
  </head>
  <body>
 
<div class="styleguide">
      <header class="header">
        <div class="breakpoint">
          <h1>Leap Style Guide</h1>
          <menu>
            <leap-link>
              <span>Menu</span>
              <leap-menu align="bottom-right">
                <leap-menu-item ng-repeat="(index,o) in modules">
                  <leap-link disabled="{{ module.key === o.key }}" ng-click="load(index);">{{ o.name }}</leap-link>
                </leap-menu-item>
              </leap-menu>
            </leap-link>
          </menu>
        </div>
      </header>

      <div class="breakpoint">
        <div class="module">
          <h2>{{ module.name }}</h2>
          <div id="module"></div>
        </div>
      </div>
    </div>

    <script src="libs/jquery.min.js"></script>
    <script src="libs/lodash.min.js"></script>
    <script src="libs/angular.min.js"></script>

    <script src="component/leap.js"></script>
    <script src="component/avatar/avatar.js"></script>
    <script src="component/button/button.js"></script>
    <script src="component/card/card.js"></script>
    <script src="component/fab/fab.js"></script>
    <script src="component/form/form.js"></script>
    <script src="component/input/input.js"></script>
    <script src="component/link/link.js"></script>
    <script src="component/list/list.js"></script>
    <script src="component/menu/menu.js"></script>
    <script src="component/module/module.js"></script>
    <script src="component/progress/progress.js"></script>
    <script src="component/tooltip/tooltip.js"></script>

    <script src="app.js"></script>
  </body>
</html>